@font-face {
    font-family: "vazir";
    src: url(./font//Vazir-Code.woff2) format("woff2"),
         url(./font/Vazir-Code.woff) format("woff"),
         url(./font/Vazir-Code.ttf) format("truetype");
         font-weight:normal ;
}
@font-face {
    font-family: "vazir";
    src: url(./font/Vazir-Code-Hack.woff2) format("woff2"),
         url(./font//Vazir-Code-Hack.woff) format("woff"),
         url(./font/Vazir-Code-Hack.ttf) format("truetype");
         font-weight: 200;
}
@font-face {
    font-family: "vazir";
    src: url(./font/Vazir-Code-Hack-Extra-Height.woff2) format("woff2"),
         url(./font/Vazir-Code-Hack-Extra-Height.woff) format("woff"),
         url(./font/Vazir-Code-Hack-Extra-Height.ttf) format("truetype");
         font-weight: 500;
}
